@import "sass2/mixin";
@import "./partials/grid.scss";
@import "./partials/lugarcito.scss";

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-image: url('../fotos/body.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    @include centrar;
    margin-bottom: 10%;
    div a{
        img{
            width: 100vw;
            border-bottom: solid darkblue 4px;
        }
    }
}

#dia{
    @include c-columna;
    button{
        background: none;
        border: none;
        img{
            width: 50vw;
        }
    }
}

.imgInicio{
    @include centrar;
    width: 100vw;
    margin-bottom: 10%;
    img{
        width: 90vw;
    }
}

.divBtnComenzar{
    display: flex;
    justify-content: center;
}

#btnComenzar{
    background-color: #239BF7;
    border: solid black 3px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #3055FC;
    padding: 2%;
    height: 20vw;
    width: 50vw;
    font-size: 8vw;
    font-family: cursive;
    color: black;
}